<h1>zheng jiekun</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p>zhengjiekun@gmail.com </p>
Random: <%= @random %>
<% if @random > 500%> 
<em> > 500 </em>   
<% else %>
<em> < 500 </em>
<% end %>